.div1{

  background-color: #626262;
  margin-bottom: #626262;
  color: #626262;
  position: fixed;
  left: 30%;
  bottom: 91%;
}
/* background */
body{
  height: 100%;
  margin: 0;
  background-color: grey;
}
/* "project" line */
.names {
  font-family: 'Kanit', sans-serif;
  text-align: center;
  font-size: 48px;
  line-height: 1.2;
}
/* our names */
.names2{
  font-family: 'Kanit', sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 30px;
  line-height: 1.2;
}
/* main title */
.title {
  font-family: 'Kanit', sans-serif;
  text-align: center;
  font-size: 48px;
  line-height: 1.2;
 
}

/* text below title */
.sub {
  font-family: 'Kanit', sans-serif;
  font-size: 32px;
  text-align: center;
  line-height: 1.2;
}

/* paragraphs */
.paragraph {
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  word-wrap: break-word;
  width: 1000px;
  margin: 0 auto;
}

/* titles of article sections */
.ptitle {
  font-family: 'Kanit', sans-serif;
  font-size: 32px;
  text-decoration: underline;
  text-align: center;
  margin: 0 auto;
}

/* the button which opens up the navigation menu */
.button {
  font-family: 'Kanit', sans-serif;
  display: inline-block;
border-radius: 4px;
background-color: rgba(113, 113, 113, 0.575);
border-style: solid;
border-width: 7px;
border-color: rgba(113, 113, 113, 0.575);
color: #000000;
text-align: right;
font-size: 15px;
padding: 20px;
width: 200px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
position: relative 30px;
  top: 0;
  left: 0;
  
}

/* the navigation menu that appears when you click the button */
.navmenu {
  font-family: 'Kanit', sans-serif;
  display: none;
  bottom: 0;
  top: 100px;
  font-size: 16px;
  position: fixed;
  border:solid;
  border-color: black;
  background-color: white;
  width: 200px;
  height: 500px;
  left: 0px;

}

.hidden {
  font-family: 'Kanit', sans-serif;
  display: block;
}
/* the transition */
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
/* the transition */
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
/* the button after transition */
.button:hover span {
  padding-right: 25px;
}
/* movement */
.button:hover span:after {
  opacity: 1;
  right: 0;
}
/* home button */
.home{
  font-family: 'Kanit', sans-serif;
  background-color: gray;
  position: absolute;
    left: 28%;
  border: none;
  color: rgb(0, 0, 0);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

/* about button */
.about{
  font-family: 'Kanit', sans-serif;
    position: absolute;
    text-align: center;
    left: 36%;
    background-color: #575757; /* Grey */
  border: none;
  color: rgb(0, 0, 0);
  padding: 22px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: -5px 0px;
  cursor: pointer;
}
/* contact button */
.contact{
  font-family: 'Kanit', sans-serif;
    position: absolute;
    text-align: center;
    left: 55%;
    background-color: #575757; /* Grey */
  border: none;
  color: rgb(0, 0, 0);
  padding: 22px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: -5px 0px;
  cursor: pointer;
}
input[type = "submit"]{
  border: 0px;
  background-color: grey; 
}
/* square at the bottom */
.div2{
  background-color: #626262;
  margin-bottom: #626262;
  color: #626262;
  display: flex;
  flex-direction: column;
}
.btn-group a {
  font-family: 'Kanit', sans-serif;
    position: absolute;
    text-align: center;
    left: 36%;
    background-color: #575757; /* Grey */
  border: none;
  color: rgb(0, 0, 0);
  padding: 22px 64px;
  text-align: center;
  text-decoration: none;
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group a:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group a:hover {
  background-color: #3e8e41;
}