body{
    height: 100%;
    margin: 0;
    background-image: linear-gradient(to bottom, rgba(47, 0, 134, 0.973), rgba(31, 3, 192, 0.808));
  }
  .paragraph{
    font-family: 'Montserrat', sans-serif;
  font-size: 38px;
  line-height: 1;
  word-wrap: break-word;
  width: 1000px;
  text-align: left;
  color: rgba(255, 255, 255, 0.664);
  }
  .abouttitle{
    font-family: 'Kanit', sans-serif;
    font-size: 60px;
    color: rgba(255, 255, 255, 0.664);
  }
  
  .crowd{
    width: 20px;
    height:600px
  }
  input[type = "submit"]{
    border: 0px;
    background-color: grey; 
  }
  .btn-group a {
    font-family: 'Montserrat', sans-serif;
      position: absolute;
      text-align: center;
      left: 36%;
      background-color:linear-gradient(to bottom, rgb(119, 0, 255), rgb(146, 2, 230));
    border: none;
    color: rgb(255, 255, 255, 0.664);
    padding: 22px 64px;
    text-align: center;
    text-decoration: none;
    cursor: pointer; /* Pointer/hand icon */
    top: 0px;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  .btn-group a:hover {opacity: 1}
  .btn-group2 a {
    font-family: 'Montserrat', sans-serif;
      position: absolute;
      text-align: center;
      left: 58%;
      background-color:linear-gradient(to bottom, rgb(119, 0, 255), rgb(146, 2, 230));
    border: none;
    color: rgb(255, 255, 255, 0.664);
    padding: 22px 64px;
    text-align: center;
    text-decoration: none;
    cursor: pointer; /* Pointer/hand icon */
    top: 0px;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  /* animation button 2 */
  .btn-group2 a:hover {opacity: 1}
  /* feedback button */
  .btn-group3 a {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    text-align: center;
    left: 45.5%;
    background-color:linear-gradient(to bottom, rgb(119, 0, 255), rgb(146, 2, 230));
  border: none;
  color: rgb(255, 255, 255, 0.664);
  padding: 22px 64px;
  text-align: center;
  text-decoration: none;
  cursor: pointer; /* Pointer/hand icon */
  top: 0px;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  }
  .btn-group3 a:hover {opacity: 1}