body{
    height: 100%;
    margin: 0;
    background-color: rgba(31, 3, 192, 0.808);
  }
  .emails{
    font-family: 'Montserrat', sans-serif;
  font-size: 38px;
  line-height: 1;
  word-wrap: break-word;
  width: 1800px;
  text-align: center;
  color: rgba(255, 255, 255, 0.79);
  position: absolute;
  bottom: 10%;
  }
  .contactlist{
    font-family: 'Montserrat', sans-serif;
  font-size: 38px;
  line-height: 1;
  word-wrap: break-word;
  text-align: center;
  color: rgba(255, 255, 255, 0.79);
  }
  .zlatin{
    padding: 5px;
    width: 300px;
    position: absolute;
    left: 20%;
    bottom: 55%;
  }